<h1><%= @artist.name %></h1>
<%= link_to "New Song", new_artist_song_path(@artist, @song) %>
<ul>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, artist_song_path(@artist, song) %></li>
    <li><%= link_to "Edit Song", edit_artist_song_path(@artist, song) %></li>
  <% end %>
</ul>
